.offer-slider{
    margin-top: 20px;
    font-size: 20px;
}
.tshirt-heading{
    font-size: 35px;
    text-align: center;
    font-family: "Abril Fatface", serif; 
    margin: 10px;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.card-container {
    

    /* height: 350px; */
    background-image: linear-gradient(179.4deg, rgba(33, 150, 243, 1) 1.8%, rgba(22, 255, 245, 0.60) 97.1%);
    width: 400px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;

 }

 .card-head-container{
 
    position: relative;
 }
 .card-img{
    height: 250px;
    width: 200px;
    border-radius: 10px;
    

 }

 .like-btn{
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
 }

 .card-info {
    height: 300x;
    width: 200px;
    padding: 5px;
   
 }
 .card-clr-img-container{
    display: flex;
    
    justify-content: space-evenly;
    margin-top: 10px;

 }


 .card-clr-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;

 }
 .card-item-name{
    font-size: 25px;
    text-align: center;
    font-family: "Russo One", sans-serif;
 }
 .card-item-desc{
     text-align: center;
     
 }
 .price-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
   
} 

.price {
    font-size: 20px;
    font-weight: bold;
   
}
.quantity-price{
    font-size: 18px;
    font-weight: bold;
}

.final-price {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;

}

.counter-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.counter-icon {
    height: 20px;
    align-items: center;
}

.quantity {
    font-size: 20px;
    font-weight: bold;
}

.buy-now-btn{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(94.3deg, rgba(26, 33, 64, 1) 10.9%, rgba(81, 84, 115, 1) 87.1%);
    color: white;
}
   