body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.navbar-container {
    background-image: linear-gradient(179.4deg, rgba(33, 150, 243, 1) 1.8%, rgba(22, 255, 245, 0.60) 97.1%);
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid gray;
}

.logo-img {
    height: 70px;
    border-radius: 50%;

}

.navbar-menus {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;

}

.input-box {
    width: 220px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    border: 1px solid black;

}

.sign-up-btn {
    background-image: linear-gradient(94.3deg, rgba(26, 33, 64, 1) 10.9%, rgba(81, 84, 115, 1) 87.1%);
    padding: 7px 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;

}

.sign-up-btn:hover {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(161, 255, 255, 1) 11.3%, rgba(6, 255, 255, 1) 41.2%, rgba(0, 216, 216, 1) 77.8%);
    color: black;
    font-weight: bold;
}



/* footer section */

.footer-container {
    height: 180px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;

}

.footer-logo-img{
    height:100px;
    margin-top:30px;
    border-radius: 50%;

}


.footer-text {
    color: white;
    cursor: pointer;
}

